.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #565252;
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(122, 130, 137);
}